In [28]:
import pandas as pd
from pathlib import Path

file_path=Path("Resources/fire_data/mapdataall.csv")
df=pd.read_csv(file_path, encoding="utf-8")

#df.head()

In [29]:
#gather list of original columns
#list(df.columns)

In [30]:
#create new data frame with select columns
fire_df = df[['incident_name',
 'incident_administrative_unit',
 'incident_county',
 'incident_acres_burned',
 'incident_longitude',
 'incident_latitude',
 'incident_dateonly_extinguished',
 'incident_dateonly_created'
]]

#rename columns
fire_incidents_df = fire_df.rename(columns={
    'incident_name': "name",
     'incident_administrative_unit': "admin unit",
     'incident_county': "county",
     'incident_acres_burned': "acres burned" ,
     'incident_longitude': "lon",
     'incident_latitude': "lat",
     'incident_dateonly_extinguished': "date extinguished",
     'incident_dateonly_created': "date created"
})

#fire_incidents_df.head()
fire_incidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2198 entries, 0 to 2197
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               2198 non-null   object
 1   admin unit         2186 non-null   object
 2   county             2188 non-null   object
 3   acres burned       2148 non-null   float64
 4   lon                2198 non-null   float64
 5   lat                2198 non-null   float64
 6   date extinguished  1975 non-null   object
 7   date created       2198 non-null   object
dtypes: float64(3), object(5)
memory usage: 137.5+ KB

In [33]:
#drop rows where county and acres burned columns are null
fire_incidents = fire_incidents_df.dropna(subset=['acres burned','county'])

#convert to datetime
fire_incidents['date extinguished'] = pd.to_datetime(fire_incidents['date extinguished'])
fire_incidents['date created'] = pd.to_datetime(fire_incidents['date created'])

#calculate duration
fire_incidents['duration'] = fire_incidents['date extinguished'] - fire_incidents['date created']

fire_incidents.head()

/var/folders/_7/hzy3hwcs7q72sm8v1h1k2rq80000gn/T/ipykernel_6817/164853287.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fire_incidents['date extinguished'] = pd.to_datetime(fire_incidents['date extinguished'])
/var/folders/_7/hzy3hwcs7q72sm8v1h1k2rq80000gn/T/ipykernel_6817/164853287.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fire_incidents['date created'] = pd.to_datetime(fire_incidents['date created'])
/var/folders/_7/hzy3hwcs7q72sm8v1h1k2rq80000gn/T/ipykernel_6817/164853287.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fire_incidents['duration'] = fire_incidents['date extinguished'] - fire_incidents['date created']

,name,admin unit,county,acres burned,lon,lat,date extinguished,date created,duration
0,Bridge Fire,Shasta-Trinity National Forest,Shasta,37.0,-122.309000,40.774000,2018-01-09,2017-10-31,70 days
1,Pala Fire,CAL FIRE San Diego Unit,San Diego,122.0,1.000000,1.000000,2009-05-25,2009-05-24,1 days
2,River Fire,CAL FIRE San Bernardino Unit,Inyo,407.0,-118.016510,36.602575,2013-02-28,2013-02-24,4 days
3,Fawnskin Fire,San Bernardino National Forest,San Bernardino,30.0,-116.941311,34.288877,2013-04-22,2013-04-20,2 days
4,Gold Fire,CAL FIRE Madera-Mariposa-Merced Unit,Madera,274.0,-119.635004,37.116295,2013-05-01,2013-04-30,1 days

In [34]:
fire_incidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2138 entries, 0 to 2197
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               2138 non-null   object
 1   admin unit         2127 non-null   object
 2   county             2138 non-null   object
 3   acres burned       2138 non-null   float64
 4   lon                2138 non-null   float64
 5   lat                2138 non-null   float64
 6   date extinguished  1943 non-null   datetime64[ns]
 7   date created       2138 non-null   datetime64[ns]
 8   duration           1943 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), float64(3), object(3), timedelta64[ns](1)
memory usage: 167.0+ KB