In [40]:
#dependencies
import requests
import pandas as pd
import json

# !pip install python-dotenv
import os
from dotenv import load_dotenv
# Load .env enviroment variables into the notebook
load_dotenv()

# Get the API key from the environment variable and store as Python variable\
NAOO_api_key = os.getenv("NAOO_api_key")

#reference to url
#https://www.ncdc.noaa.gov/cdo-web/webservices/v2#stations

#set header for token usage
headers = {'token': NAOO_api_key}

#set url for NAOO API
url = "https://www.ncei.noaa.gov/cdo-web/api/v2/stations"

In [54]:
#station name is "incident_cooperating_agencies" on mapdataall.csv
station_name = "ADDISON CENTRAL TOWER, AL US'" #use this as a test

#set parameters for api
params = {
    #"sortfield": station_name
    #"extent": "36.936134, -117.999620, 34.283725, -118.823016"
    "limit": "10",
    "offset": "5000"
}

#request and make a JSON
NAOO_url = requests.get(url, headers=headers, params= params).json()

NAOO_url["results"]

# for result in NAOO_url["results"]:
#     if

[{'elevation': 195.1,
  'mindate': '1902-03-01',
  'maxdate': '2000-06-01',
  'latitude': 41.54222,
  'name': 'HOBART 2 WNW, IN US',
  'datacoverage': 0.811,
  'id': 'COOP:124008',
  'elevationUnit': 'METERS',
  'longitude': -87.28806},
 {'mindate': '1902-06-01',
  'maxdate': '1907-10-01',
  'latitude': 38.25,
  'name': 'HOLLAND, IN US',
  'datacoverage': 0.9843,
  'id': 'COOP:124023',
  'longitude': -87.03333},
 {'elevation': 267.9,
  'mindate': '1905-11-01',
  'maxdate': '1953-07-01',
  'latitude': 41.71667,
  'name': 'HOWE MILITARY SCHOOL, IN US',
  'datacoverage': 0.9791,
  'id': 'COOP:124113',
  'elevationUnit': 'METERS',
  'longitude': -85.41667},
 {'elevation': 159.1,
  'mindate': '1887-02-01',
  'maxdate': '1957-09-01',
  'latitude': 38.26667,
  'name': 'HUNTINGBURG AIRPORT, IN US',
  'datacoverage': 0.7666,
  'id': 'COOP:124168',
  'elevationUnit': 'METERS',
  'longitude': -86.95},
 {'elevation': 244.1,
  'mindate': '1893-04-01',
  'maxdate': '1979-04-01',
  'latitude': 40.88333,
  'name': 'HUNTINGTON, IN US',
  'datacoverage': 0.972,
  'id': 'COOP:124176',
  'elevationUnit': 'METERS',
  'longitude': -85.5},
 {'elevation': 222.8,
  'mindate': '1948-07-01',
  'maxdate': '2015-11-01',
  'latitude': 40.856,
  'name': 'HUNTINGTON, IN US',
  'datacoverage': 0.5711,
  'id': 'COOP:124181',
  'elevationUnit': 'METERS',
  'longitude': -85.4988},
 {'elevation': 149,
  'mindate': '1948-11-01',
  'maxdate': '1950-01-01',
  'latitude': 39.16667,
  'name': 'HYMERA, IN US',
  'datacoverage': 0.6727,
  'id': 'COOP:124216',
  'elevationUnit': 'METERS',
  'longitude': -87.3},
 {'elevation': 208.2,
  'mindate': '1989-06-01',
  'maxdate': '2015-11-01',
  'latitude': 41.63178,
  'name': 'INDIANA DUNES NATIONAL PARK, IN US',
  'datacoverage': 0.9937,
  'id': 'COOP:124244',
  'elevationUnit': 'METERS',
  'longitude': -87.08803},
 {'elevation': 249.3,
  'mindate': '1992-03-01',
  'maxdate': '2015-11-01',
  'latitude': 39.90746,
  'name': 'INDIANAPOLIS EAGLE CREEK 4 NNE, IN US',
  'datacoverage': 0.9789,
  'id': 'COOP:124249',
  'elevationUnit': 'METERS',
  'longitude': -86.28911},
 {'elevation': 238,
  'mindate': '1942-05-01',
  'maxdate': '1949-04-01',
  'latitude': 39.88333,
  'name': 'INDIANAPOLIS HOL PAR, IN US',
  'datacoverage': 0.9999,
  'id': 'COOP:124254',
  'elevationUnit': 'METERS',
  'longitude': -86.16667}]