In [2]:
import pandas as pd

In [16]:
fire_df = pd.read_csv("Resources/fire_data/fire_all_clean.csv", index_col="City_ID")
fire_df.head()

,Name,Admin unit,County,Acres burned,Lon,Lat,Date extinguished,Date created,Duration (days),Year extinguished,Year,Month created (num),Month
City_ID,,,,,,,,,,,,,
0,Bridge Fire,Shasta-Trinity National Forest,Shasta,37.0,-122.309000,40.774000,2018-01-09,2017-10-31,70 days,2018,2017,10,October
1,Pala Fire,CAL FIRE San Diego Unit,San Diego,122.0,1.000000,1.000000,2009-05-25,2009-05-24,1 days,2009,2009,5,May
2,River Fire,CAL FIRE San Bernardino Unit,Inyo,407.0,-118.016510,36.602575,2013-02-28,2013-02-24,4 days,2013,2013,2,February
3,Fawnskin Fire,San Bernardino National Forest,San Bernardino,30.0,-116.941311,34.288877,2013-04-22,2013-04-20,2 days,2013,2013,4,April
4,Gold Fire,CAL FIRE Madera-Mariposa-Merced Unit,Madera,274.0,-119.635004,37.116295,2013-05-01,2013-04-30,1 days,2013,2013,4,April

In [21]:
rainfall_df = pd.read_csv("Resources/weather_data/rainfall_all_years_clean.csv", index_col="City_ID")
rainfall_df.head()

,State,County,Rainfall (inches),Month,Year,Anomaly (1901-2000 base period),1901-2000 Mean
City_ID,,,,,,,
0,California,Alameda,0.63,March,2013,-2.24,2.87
1,California,Alpine,2.56,March,2013,-2.54,5.10
2,California,Amador,2.89,March,2013,-2.72,5.61
3,California,Butte,2.57,March,2013,-3.77,6.34
4,California,Calaveras,2.75,March,2013,-2.83,5.58

In [23]:
temperature_df = pd.read_csv("Resources/weather_data/temperature_all_years_clean.csv", index_col="City_ID")
temperature_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7772 entries, 0 to 7771
Data columns (total 7 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   State                            7772 non-null   object
 1   County                           7772 non-null   object
 2   Temperature (F)                  7772 non-null   float64
 3   Month                            7772 non-null   object
 4   Year                             7772 non-null   int64
 5   Anomaly (1901-2000 base period)  7772 non-null   float64
 6   1901-2000 Mean                   7772 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 485.8+ KB

In [18]:
fire_vs_rainfall_all = pd.merge(rainfall_df, fire_df, on=["Month", "Year", "County"], how="outer")

fire_vs_rainfall_all

,State,County,Rainfall (inches),Month,Year,Anomaly (1901-2000 base period),1901-2000 Mean,Name,Admin unit,Acres burned,Lon,Lat,Date extinguished,Date created,Duration (days),Year extinguished,Month created (num)
0,California,Alameda,0.63,March,2013,-2.24,2.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,California,Alpine,2.56,March,2013,-2.54,5.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,California,Amador,2.89,March,2013,-2.72,5.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,California,Butte,2.57,March,2013,-3.77,6.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,California,Calaveras,2.75,March,2013,-2.83,5.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8649,NaN,"El Dorado, Alpine, Amador",NaN,August,2021,NaN,NaN,Caldor Fire,El Dorado National Forest,221835.0,-120.537833,38.586000,2021-10-21,2021-08-14,68 days,2021.0,8.0
8650,NaN,"Riverside, San Diego",NaN,August,2021,NaN,NaN,Chaparral Fire,Cleveland National Forest,1427.0,-117.393090,33.484721,2021-09-01,2021-08-28,4 days,2021.0,8.0
8651,NaN,"Napa, Sonoma",NaN,September,2021,NaN,NaN,Fremont Fire,CAL FIRE Sonoma-Lake-Napa Unit,116.0,-122.416983,38.269863,2021-09-23,2021-09-22,1 days,2021.0,9.0
8652,NaN,"El Dorado, Placer",NaN,September,2022,NaN,NaN,Mosquito Fire,"Unified Command: Tahoe National Forest, El Dor...",76788.0,-120.744700,39.005910,2022-10-22,2022-09-06,46 days,2022.0,9.0
8653,NaN,"Monterey, San Luis Obispo",NaN,July,2023,NaN,NaN,Vineyard Fire,CAL FIRE San Benito-Monterey,392.0,-120.816900,35.800000,2023-07-10,2023-07-09,1 days,2023.0,7.0

In [15]:
fire_vs_rainfall_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8654 entries, 0 to 8653
Data columns (total 17 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   State                            8608 non-null   object
 1   County                           8654 non-null   object
 2   Rainfall (inches)                8608 non-null   float64
 3   Month                            8654 non-null   object
 4   Year                             8654 non-null   int64
 5   Anomaly (1901-2000 base period)  8608 non-null   float64
 6   1901-2000 Mean                   8608 non-null   float64
 7   Name                             1943 non-null   object
 8   Ddmin unit                       1934 non-null   object
 9   Acres burned                     1943 non-null   float64
 10  Lon                              1943 non-null   float64
 11  Lat                              1943 non-null   float64
 12  Date extinguished                1943 non-null   object
 13  Date created                     1943 non-null   object
 14  Duration (days)                  1943 non-null   object
 15  Year extinguished                1943 non-null   float64
 16  Month created (num)              1943 non-null   float64
dtypes: float64(8), int64(1), object(8)
memory usage: 1.1+ MB

In [19]:
fire_vs_rainfall_df = fire_vs_rainfall_all.dropna()

In [20]:
fire_vs_rainfall_df

,State,County,Rainfall (inches),Month,Year,Anomaly (1901-2000 base period),1901-2000 Mean,Name,Admin unit,Acres burned,Lon,Lat,Date extinguished,Date created,Duration (days),Year extinguished,Month created (num)
77,California,Madera,0.87,April,2013,-1.16,2.03,Gold Fire,CAL FIRE Madera-Mariposa-Merced Unit,274.0,-119.635004,37.116295,2013-05-01,2013-04-30,1 days,2013.0,4.0
85,California,Napa,1.05,April,2013,-0.86,1.91,Silverado Fire,CAL FIRE Sonoma-Lake-Napa Unit,75.0,-122.350844,38.441792,2013-05-01,2013-04-30,1 days,2013.0,4.0
93,California,San Bernardino,0.02,April,2013,-0.36,0.38,Fawnskin Fire,San Bernardino National Forest,30.0,-116.941311,34.288877,2013-04-22,2013-04-20,2 days,2013.0,4.0
126,California,Glenn,0.31,May,2013,-0.54,0.85,306 Fire,CAL FIRE Tehama-Glenn Unit,217.0,-122.560862,39.514139,2013-05-05,2013-05-01,4 days,2013.0,5.0
134,California,Los Angeles,0.55,May,2013,0.23,0.32,Lake Fire,CAL FIRE/Los Angeles County,712.0,-118.610044,34.491490,2013-05-18,2013-05-17,1 days,2013.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8326,California,Fresno,0.59,May,2023,-0.24,0.83,Pistol Fire,CAL FIRE Fresno-Kings Unit,123.0,-119.680100,36.946600,2023-05-30,2023-05-30,0 days,2023.0,5.0
8349,California,Riverside,0.28,May,2023,0.12,0.16,66 Fire,CAL FIRE Riverside Unit,127.0,-116.092746,33.569342,2023-05-18,2023-05-15,3 days,2023.0,5.0
8350,California,Riverside,0.28,May,2023,0.12,0.16,Ramona Fire,Riverside County Fire,348.0,-117.033714,33.823424,2023-05-25,2023-05-22,3 days,2023.0,5.0
8518,California,Monterey,7.66,February,2024,3.56,4.10,Bryson Fire,CAL FIRE San Benito-Monterey Unit,11.0,-121.084104,35.811480,2024-02-27,2024-02-27,0 days,2024.0,2.0
8524,California,Riverside,2.70,February,2024,1.13,1.57,Palmas Fire,Bureau of Land Management,239.0,-115.827840,33.510379,2024-02-26,2024-02-20,6 days,2024.0,2.0