In [48]:
import pandas as pd

[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [62]:
# Create csv read range lists
years = [year for year in range(2020, 2025)]
csv_numbers = [month for month in range(1, 13)]

# Create empty DataFrame for combined data
rainfall_all = pd.DataFrame()

# Loop through all years and months of data, month and year form header and ad as new column for each set
for year in years:
    for num in csv_numbers:
        
        try:
            base_path = f"Resources/weather_data/rainfall/{year}/data ({num}).csv" 

            header_row = pd.read_csv(base_path, nrows=0).columns[0]
            rainfall_data = pd.read_csv(base_path, skiprows=4)

            county_date = header_row.split()
            rainfall_month = county_date[0]
            rainfall_year = county_date[1]

            rainfall_data["Month"] = rainfall_month
            rainfall_data["Year"] = rainfall_year
            rainfall_all = pd.concat([rainfall_all, rainfall_data], ignore_index=True)
        
        except FileNotFoundError as e:
            print(e)
        
rainfall_all

[Errno 2] No such file or directory: 'Resources/weather_data/rainfall/2024/data (4).csv'
[Errno 2] No such file or directory: 'Resources/weather_data/rainfall/2024/data (5).csv'
[Errno 2] No such file or directory: 'Resources/weather_data/rainfall/2024/data (6).csv'
[Errno 2] No such file or directory: 'Resources/weather_data/rainfall/2024/data (7).csv'
[Errno 2] No such file or directory: 'Resources/weather_data/rainfall/2024/data (8).csv'
[Errno 2] No such file or directory: 'Resources/weather_data/rainfall/2024/data (9).csv'
[Errno 2] No such file or directory: 'Resources/weather_data/rainfall/2024/data (10).csv'
[Errno 2] No such file or directory: 'Resources/weather_data/rainfall/2024/data (11).csv'
[Errno 2] No such file or directory: 'Resources/weather_data/rainfall/2024/data (12).csv'

,ID,Name,State,Value,Anomaly (1901-2000 base period),Rank,1901-2000 Mean,Month,Year
0,CA-001,Alameda County,California,0.00,-3.34,1,3.34,February,2020
1,CA-003,Alpine County,California,0.25,-5.68,3,5.93,February,2020
2,CA-005,Amador County,California,0.06,-5.99,1,6.05,February,2020
3,CA-007,Butte County,California,0.04,-7.57,1,7.61,February,2020
4,CA-009,Calaveras County,California,0.03,-5.94,1,5.97,February,2020
...,...,...,...,...,...,...,...,...,...
2953,CA-107,Tulare County,California,2.93,-1.19,56,4.12,January,2024
2954,CA-109,Tuolumne County,California,5.94,-1.74,61,7.68,January,2024
2955,CA-111,Ventura County,California,2.57,-1.87,56,4.44,January,2024
2956,CA-113,Yolo County,California,3.94,-0.31,71,4.25,January,2024
2957,CA-115,Yuba County,California,8.06,0.63,84,7.43,January,2024

In [63]:
# Check to see if all data has enteres correctly
rainfall_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2958 entries, 0 to 2957
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               2958 non-null   object
 1   Name                             2958 non-null   object
 2   State                            2958 non-null   object
 3   Value                            2958 non-null   float64
 4   Anomaly (1901-2000 base period)  2958 non-null   float64
 5   Rank                             2958 non-null   int64
 6   1901-2000 Mean                   2958 non-null   float64
 7   Month                            2958 non-null   object
 8   Year                             2958 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 208.1+ KB

In [64]:
# Insert column for County
rainfall_all["County"] = [row.split()[0] for row in rainfall_all["Name"]]

In [65]:
# Remove unnecessary columns
del rainfall_all["Rank"]
del rainfall_all["Name"]
rainfall_all

,ID,State,Value,Anomaly (1901-2000 base period),1901-2000 Mean,Month,Year,County
0,CA-001,California,0.00,-3.34,3.34,February,2020,Alameda
1,CA-003,California,0.25,-5.68,5.93,February,2020,Alpine
2,CA-005,California,0.06,-5.99,6.05,February,2020,Amador
3,CA-007,California,0.04,-7.57,7.61,February,2020,Butte
4,CA-009,California,0.03,-5.94,5.97,February,2020,Calaveras
...,...,...,...,...,...,...,...,...
2953,CA-107,California,2.93,-1.19,4.12,January,2024,Tulare
2954,CA-109,California,5.94,-1.74,7.68,January,2024,Tuolumne
2955,CA-111,California,2.57,-1.87,4.44,January,2024,Ventura
2956,CA-113,California,3.94,-0.31,4.25,January,2024,Yolo
2957,CA-115,California,8.06,0.63,7.43,January,2024,Yuba

In [77]:
rainfall_clean = rainfall_all.rename(columns={'Value':'Rainfall (inches)'})
rainfall_clean

,ID,State,Rainfall (inches),Anomaly (1901-2000 base period),1901-2000 Mean,Month,Year,County
0,CA-001,California,0.00,-3.34,3.34,February,2020,Alameda
1,CA-003,California,0.25,-5.68,5.93,February,2020,Alpine
2,CA-005,California,0.06,-5.99,6.05,February,2020,Amador
3,CA-007,California,0.04,-7.57,7.61,February,2020,Butte
4,CA-009,California,0.03,-5.94,5.97,February,2020,Calaveras
...,...,...,...,...,...,...,...,...
2953,CA-107,California,2.93,-1.19,4.12,January,2024,Tulare
2954,CA-109,California,5.94,-1.74,7.68,January,2024,Tuolumne
2955,CA-111,California,2.57,-1.87,4.44,January,2024,Ventura
2956,CA-113,California,3.94,-0.31,4.25,January,2024,Yolo
2957,CA-115,California,8.06,0.63,7.43,January,2024,Yuba